
setup(pos, top = null, right = null, bottom = null, left = null)
    position pos
    top top
    left left
    right right
    bottom bottom


* { box-sizing: border-box; transition: 0.3s cubic-bezier(0.6,0,0.2,1); }
.abs-center { setup(absolute,50%,null,null,50%); transform: translate(-50%, -50%); }
.vert-center { setup(absolute,50%); transform: translateY(-50%); }
.horz-center { setup(absolute,null,null,null,50%); transform: translateX(-50%); }
.rela-block { display: block; position: relative; }
.rela-inline { display: inline-block; position: relative; }
.left { position: relative; float: left; }
.right { position: relative; float: right; }

body { transition: 0s; }
